{% extends "layout.html" %}

{% block body %}

  <h1>INBOX {{ user }}</h1>
  
    

  <form action="/inbox" method="post">
    <input type="checkbox" id="type_of_mail" name="sent" value="sent">
    <label for="vehicle1"> Sented email</label><br>
    <input type="checkbox" id="type_of_mail" name="received" value="received">
    <label for="received">Received mails</label><br>
    <input type="submit" name="see" value="See mails" >
</form>
   

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Sender</th>
      <th scope="col">Receiver</th>
      <th scope="col">Subject</th>
      <th scope="col">Date</th>
      <th scope="col">See content</th>
    </tr>
  </thead>
  <tbody>
    {% for mail in mails %}
    <tr>
      <th scope="row"> {{ mail.index }} </th>
      <th> {{ mail.sender }} </th>
      <th> {{ mail.receiver }} </th>
      <th> {{ mail.subject }} </th>
      <th> {{ mail.timestamp }} </th>
      <th>   <a href="">see content </a></th>
    </tr>
    {% endfor %}
   

    
  </tbody>
</table>










{% endblock %}
<script>

</script>